build --action_env TF_NEED_CUDA="0"
build --distinct_host_configuration=false
build -c opt
build:opt --copt=/arch:AVX2
build:opt --host_copt=/arch:AVX2
build:mkl_open_source_only --define=tensorflow_mkldnn_contraction_kernel=1

# Sets the default Apple platform to macOS.
build --apple_platform_type=macos

# Disable enabled-by-default TensorFlow features that we don't care about.
build --define=no_kafka_support=true
build --define=no_ignite_support=true
build --define=grpc_no_ares=true

build:cuda --crosstool_top=@local_config_cuda//crosstool:toolchain
build:cuda --define=using_cuda=true --define=using_cuda_nvcc=true

build --copt=-DWIN32_LEAN_AND_MEAN --host_copt=-DWIN32_LEAN_AND_MEAN --copt=-DNOGDI --host_copt=-DNOGDI
build --define=override_eigen_strong_inline=true

--incompatible_depset_is_not_iterable=false
--incompatible_disable_deprecated_attr_params=false
--incompatible_new_actions_api=false
--incompatible_no_support_tools_in_action_inputs=false
--incompatible_use_python_toolchains=false
